<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Permite acesso direto a arquivos/pastas existentes
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  
  # Fallback para rotas SPA -> index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
