STRIPE_SECRET_KEY=sk_test_COLOQUE_AQUI_SUA_CHAVE_SECRETA_STRIPE
STRIPE_PRODUCT_ID=COLOQUE_AQUI_O_ID_DO_PRODUTO_STRIPE
STRIPE_WEBHOOK_SECRET=COLOQUE_AQUI_O_WEBHOOK_SECRET_STRIPE
SUPABASE_URL=COLOQUE_AQUI_A_URL_DO_SUPABASE
SUPABASE_SERVICE_ROLE=COLOQUE_AQUI_SUA_SERVICE_ROLE
REDIRECT_URL=https://estoque.r2b.ia.br/
